<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>95521192834-b3dngnlr40tme4i936jvdqbn505pnec5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95521192834-b3dngnlr40tme4i936jvdqbn505pnec5</string>
	<key>API_KEY</key>
	<string>AIzaSyDWQjSJ0AALFcH5H9DzBUnPv-SFwFJ3tyk</string>
	<key>GCM_SENDER_ID</key>
	<string>95521192834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.admin.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>learn-app-be9eb</string>
	<key>STORAGE_BUCKET</key>
	<string>learn-app-be9eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95521192834:ios:d97a3dddf66fc998dbed9b</string>
</dict>
</plist>